* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #c8dbca, #55928a);
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background: linear-gradient(to right, #5b5b5e, #8bbb7f);
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}